// output: index.html, pretty: true
html
  head
  title
  link(rel="stylesheet" href="style.min.css")

  body
    .box
      #text #DailyCSSImages Zombie
      .sign
        .zombie-shadow
          .forehead-shadow
          .chin-shadow
        .zombie
          .cross
          .forehead
            .crack-1
            .crack-2
            .eye-left
            .eye-left-shadow
            .eye-right
            .eye-right-shadow
          .chin
            .nose
            .nose
            .mouth
              .tooth
              .tooth
              .tooth
