// output: index.html, pretty: true
html
  head
  title
  link(rel="stylesheet" href="style.min.css")

  body
    .box
      .sign
        .zombie-shadow
          .forehead-shadow
          .chin-shadow
        .zombie
          .forehead
          .chin
