  //output: index.html, pretty: true
  html
  head
  title DailyCSSImages 20 - Monsters
  link(rel="stylesheet" href="style.min.css")

  body
    .box
      .title
        #text DailyCSSIamges
        #inc Monsters Inc.
      .eye
        .lid
        .white-space
        .wrapper
          .pupil
