// output: index.html, pretty: true
html
  head
  title Daily CSS Images
  link(rel="stylesheet", href="style.min.css")
  <link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">

  body
    .box
      #text #DailyCSSImages - 14 CheeseCake
      .cake-top
        .eye-left
        .eye-right
        .mouth
        .cut-left
        .cut-right
      .cake-bot
        .cut-left
        .cut-right
      .puddle-left
      .puddle-right
      .puddle-center
