// output: index.html, pretty: true
html
  head
  title Daily CSS Images
  link(rel="stylesheet", href="style.min.css")
  <link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">

  body
    .box
      .desc
      .circle
        .eye-left
        .eye-right
        .mouth
        .diameter
        .wrapper
      .circum
      .circum-text
