// output: index.html, pretty: true
html
  head
  title Daily CSS Images
  link(rel="stylesheet", href="style.min.css")
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

  body
    .box
      #day #DailyCSSImages 11
      #pizzaText Pizza
      .pizza
        .crust
        .cheese
        .pep
        .pep
        .pep
      .splatter
        .bot
        .left
        .right
      .bug
        .head
          .left-antenna
          .right-antenna
        .body
      .bug2
        .head
          .left-antenna
          .right-antenna
        .body
