// output: index.html, pretty: true
html
  head
  title Daily CSS Images
  link(rel="stylesheet", href="style.min.css")

  body
    .box
      .pizza
        .crust
        .cheese
        .pep
        .pep
        .pep
