//output: index.html, pretty: true
html
head
title DailyCSSImages 20 - Monsters
link(rel="stylesheet" href="style.min.css")

body
  #text Day 26 Apple App Store
  .app
    .circle
      .bar
        .left
        .mid
        .right
      .pencil
        .tip
        .wood
        .eraser
      .brush
        .wood
        .metal
        .bristles
