// output: index.html, pretty: true
html
  head
  title Daily CSS Images
  link(rel="stylesheet", href="style.min.css")
  <link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">

  body
    .box
      #text #DailyCSSImages - 13 Taco
      .taco
        .shell
          .tom
          .tom
          .tom
          .tom
          .let
          .let
          .let
