// output: index.html, pretty: true
html
  head
  title Daily CSS Images
  link(rel="stylesheet", href="style.min.css")
  <link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">

  body
    .box
      #css #DailyCSSImages 12 Hamburger
      .burger
        .top-bun
          .face
            .eye-left
            .eye-right
            .mouth
              .tongue
        .meat
          .cheese
          .cheese-triangle
        .bot-bun
          .lettuce
          .lettuce
          .lettuce
