  //output: index.html, pretty: true
  html
  head
  title DailyCSSImages Day 21 - Superman
  link(rel="stylesheet" href="style.min.css")

  body
    .box
      .head
      .eyes
      .hair-wide
      .hair-specific
      .chin
      .mouth
      .skin
