  //output: index.html, pretty: true
  html
  head
  title DailyCSSImages Day 21 - Superman
  link(rel="stylesheet" href="style.min.css")

  body
    .superman
      .head
      .eyes
      .hair-wide
      .hair-specific
      .chin
      .mouth
      .skin
    .greenLatern
      .grey-tp
      .grey-lr
      .ring-outline
      .symbol
      .glow
      .hide
    .wolverine
      .blade
      .blade
      .blade
    .ironman
      .block
      .single
      .face
        .left
        .right
      .eye
      .mouth
    .captain
      .outline
        .vert
        .hor
      .second
        .vert
        .hor
      .third
        .vert
        .hor
      .fourth
        .vert
        .hor
      .star
