// output: index.html, pretty: true
  html
    head
    title Daily CSS Images
    link(rel="stylesheet", href="style.min.css")

    body
      .box
        #text #DailyCSSImages 16 - FrankenWeenie
        .frank
          .stretch-bot
          .stretch-bot2
          .stretch-top
          .stretch-top2
          .eye-left
          .eye-right
          .mouth-line
          .mouth-open
          .scar
            .vert
            .hor
            .hor
            .hor
            .hor
        .bun-left
        .bun-right
