// output: index.html, pretty: true
  html
    head
    title Daily CSS Images
    link(rel="stylesheet", href="style.min.css")

    body
      .box
        .frank
          .stretch-bot
          .stretch-bot2
          .stretch-top
          .stretch-top2
