  //output: index.html, pretty: true
  html
  head
  title #DailyCSSImages WearWolf
  link(rel="stylesheet" href="style.min.css")

  body
    .box
      #text DailyCSSImages - Where is the wolf?
      .moon
      .quote
        #howl *howl*
      .cutoff
      .cliff
        .cliff-main
        .cliff-left
        .cliff-right
